/* 모든 페이지에서 공통으로 사용하고 싶은, 공통 스타일을 정하는 곳 */
/* 공통 스타일이 사이트 전체인지, 관리자 페이지만 인지에 따라 스타일을 각각 둘 수도 있고, 전체 사이트에 하나만 둘 수도 있다. */


/* root => 관리자페이지에서 공통으로 사용하는 색상, 크기 등에 대한 변수들을 지정하는 곳 */
:root {
    --color-bg: #000; /* 변수 생성 */
    --color-text: #000;
    --color-text-dark: #000;
}

/* 관리자 페이지 전체에서 사용하는 기본 스타일/공통 스타일을 정의*/
/* 이 곳에서 정의 후, 추후에 달라지는 것을 재정의 한다. 공통으로 적용한 것이 기본이 되는 것! */
body {
    font-family: 'Pretendard';
    /* font-style: ; */
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color:var(--color-text);
}

